*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-width: 100%;
    min-height: 100%;
}

header {
    width: 100%;
    font-family: Muli;
    font-size: 14px;
    color: #626366;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-width: 100%;
}

.menu-icon{
    display: none;
}

.responsive-header { 
    display: none;
}

.banner-mobile {
    display: none;
}

nav {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.header-menu ul{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px ;
}

.header-menu ul li {
    list-style: none;
    padding:0 25px 0 25px;
    text-align: center;
}

.header-menu ul li a{
    text-decoration: none;
    color: #626366;
}

.atnd-sup{
    border-left: 1px solid #626366;
    padding-left: 25px;
}

.atnd-sup a { 
    text-decoration: none;
    color: #626366;
}

.image-container{
    width: 100%;
}

.image-container img{
    width: 100%;
    min-height: 20vh;
    min-width: 100%;
}

.card-link {
    text-decoration: none;
}

.cards-container {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: 30px;
}

.card:hover{
    border: 1px solid #00aae2;
}

.card-title {
    font-family: Muli;
    font-size: 15px;
    font-weight: bold;
    color: #626366;
    margin: 15px;
}

.card-p {
    font-family: Muli;
    font-size: 12px;
    color: #626366; 
    align-items: baseline;
    justify-content: center;
}

.chevron-icon {
    width: 10px;
}

.videos-container {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* @media(min-width: 1650px) {
    .videos-container {
        width: 55%;
    }   
} */

/* .videos-container img{
    width: 80%;
} */

.videos-container h1 {
    font-family: Muli;
    font-weight: bold;
    font-size: 30px;
    color: #626366; 
    margin-bottom: 20px;
}

.glider-slide {
    /* max-width: 580px; */
    border: 1px solid #e2e2e2;
    margin: 15px;   
}

.glider-chevron {
    cursor: pointer;
    width: 80%;
    
}

/* Form */
.form-container {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px ;
    margin: auto;
    margin-bottom: 60px;
}

@media(min-width: 1251px) {
    .form-container {
        min-width: 900px;
    }
}


.data-form{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-input-container{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    font-family: Muli;
    font-weight: bold;
    font-size: 30px;
    color: #626366; 
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 30px ;
}

.input-container {
    display: flex;
    margin: 0;
}

.label-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-right: 20px;
}

.label-container label {
    text-align: left;
    font-family: Muli;
    font-size: 15px;
    color: #626366;
    margin-bottom: 10px;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    /* min-width: 250px; */
}

.address-container{
    width: 90%;
    /* margin-right: 0; */
}

.address-number-container{
    width: 20%;
}

.address-number{
    min-width: 100%;
}


.formBtn {
    min-width: 250px;
    margin-top: 30px;
    padding: 15px;
    border-style: solid;
    background: #ffffff;
    border-radius: 2px;
    font-family: Muli;
    font-weight: bold;
    font-size: 15px;
    color: #00aae2;
    border: 2px solid #00aae2;
}

.responsive-footer{
    display: none;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr .5fr .5fr 2fr;
}

.footer-about {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icon-container {
    width: 250px;
    height: 300px;
    margin-left: 150px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.social ul {
    margin-top: 30px;
    display: flex;
}

.social ul li{
    list-style: none;
}

.about-list-container{
    margin-right: 40px;
    margin-bottom: 40px;
}

.footer-p{
    font-family: Muli;
    font-size: 14px;
    color: #ffffff; 
    text-align: left;
    text-decoration: none;
    margin-bottom: 10px;
}

.about-list-container ul li{
    list-style: none;
    text-align: left;
    line-height: 25px;
}

.about-list-container ul li a {
    font-family: Muli;
    font-size: 12px;
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
}

.footer-products{
    background: #383838;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.footer-products ul {
    margin-top: 50px;
}

.footer-products ul li{
    list-style: none;
    line-height: 25px;
    text-align: left;
}


.footer-products ul li a{
    font-family: Muli;
    font-size: 12px;
    color: #ffffff; 
    text-align: left;
    text-decoration: none;
}

.footer-suport{
    width: 100%;
    background: #565656;
    padding: 15px;
    align-items: center;
    text-align: left;
}

.footer-suport ul{
    margin-top: 50px;
}

.footer-suport ul li{
    list-style: none;
    line-height: 25px;
}

.footer-suport ul li a{
    font-family: Muli;
    font-size: 12px;
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
}

.footer-attendance{
    width: 100%;
    background: #686868;
    padding: 15px;
    align-items: center;
    text-align: left;
}

.footer-attendance ul{
    text-align: left;
    margin-top: 50px;
}

.footer-attendance ul li{
    list-style: none;
    line-height: 25px;
    font-family: Muli;
    font-size: 12px;
    color: #ffffff; 
}

.atend {
    text-align: left;
}

@media screen and (min-width: 750px) and (max-width: 1260px) {
    .header-menu {
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .responsive-header-search{
        /* position: absolute; */
        right: 5rem;
    }

    .responsive-header-button{
        /* position: absolute; */
        /* z-index: 2; */
        right: 1rem;
    }

    .responsive-header-button.open{
        position: fixed;
        z-index: 3;
        right: 2rem;
    }


    .responsive-header-button.open + nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, .8);
        z-index: 2;
    }

    nav li{
        list-style: none;
    }

    nav li a {
        text-decoration: none;
        line-height: 40px;
        font-family: Muli;
        font-weight: bold;
        font-size: 22px;
        color: #626366; 
    }


    .icon-container{
        width: 100%;
    }

    .responsive-header{
        display: flex;
    }

    .cards-container {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns:   1fr 1fr;
        grid-gap: 20px;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .videos-container{
        width: 75%;
    }

     .form-container{
        align-items: center;
        min-width: 80%;
    }

    .data-form{
        min-width: 100%;
        margin: auto;
    }

    .label-container{
        margin-right: 10px;
    }

    .form-input {
        width: 100%;
        margin: 0; 
        margin-bottom: 20px;
    } 

    .address-number-container{
        width: 50%;
    }

     .address{
        width: 100%;
    } 


    footer {
        width: 100%;
        display: grid;
        grid-template-columns: .5fr 1fr 1fr 1fr;
    }   

    .footer-about{
        padding: 0;
    }


    .footer-icon-container {
        margin: 0;
        padding: 10px;
    }

    .footer-products{
        padding: 10px;
    }

    .footer-suport{
        padding: 10px;
    }
    .footer-attendance{
        padding: 10px;
    }
 }

 @media(max-width: 749px) {

    .header-menu {
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .responsive-header-search{
        /* position: fixed; */
        right: 5rem;
    }

    .responsive-header-button{
        /* position: fixed; */
        /* z-index: 2; */
        right: 2rem;
    }

    .responsive-header-button.open{
        position: fixed;
        z-index: 3;
        right: 1rem;
    }


    .responsive-header-button.open + nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, .8);
        z-index: 2;
    }

    nav li{
        list-style: none;
    }

    nav li a {
        text-decoration: none;
        line-height: 40px;
        font-family: Muli;
        font-weight: bold;
        font-size: 20px;
        color: #626366; 
    }


    .icon-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .responsive-header{
        display: flex;
    }

    .cards-container {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-container{
        margin: auto;
        align-items: center;
        justify-content: center;
        min-width: 80%;
    }

    .data-form{
        width: 100%;
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .input-container{
        flex-direction: column;
        margin-left: 10px;
    }

    .form-input {
        width: 100%;
        margin-right: 0;
    }

    .label-container{
        width: 100%;
        margin-right: 0;
    }

    .formBtn{
        width: 150px;
        padding: 10px;
    }

    .videos-container{
        width: 85%;
    }

    .glider-slide{
        min-width: 300px;
        margin: 10px;
    }

    .glider-draggable{
        width: 100%;
    }

    .glider-track{
        align-items: center;
    }

    .glider-chevron{
        display: none;
    }

    .glider-dot{
        display: none;
    }

    footer {
        display: none;
    }   

    .responsive-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
        background: #222222;
        color: white;
        padding: 40px;
    }  

    .footer-icon-container{
        margin: 0;
        padding: 0;
        width: 150px;
        height: 150px;
    }
    
    .social ul{
        margin: 0;
    }

    .responsive-footer li{
        list-style: none;
     }  

    .responsive-footer a{
       color: white;
       text-decoration: none;
       font-family: Muli;
       font-weight: bold;
       line-height: 35px;
    }  

    /* SOBRE RODAPÉ RESPONSIVO */

    .about-responsive-footer.open + nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(24, 23, 23, 0.8);
        z-index: 2;
    }

    .about-responsive-footer.open + nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-responsive-footer.open + nav li a {
        color: white;
    }

    .about-close-button{
        position: fixed;
        top: 20px;
        right: 30px;
        color: white;
    }

    /* PRODUTOS RODAPÉ RESPONSIVO */

    .products-responsive-footer.open + nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(24, 23, 23, 0.8);
        z-index: 2;
    }

    .products-responsive-footer.open + nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products-responsive-footer.open + nav li a {
        color: white;
    }


    .products-close-button{
        position: fixed;
        top: 20px;
        right: 30px;
        color: white;
    }


    /* SUPORTE RODAPÉ RESPONSIVO */

    .suport-responsive-footer.open + nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(24, 23, 23, 0.8);
        z-index: 2;
    }

    .suport-responsive-footer.open + nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .suport-responsive-footer.open + nav li a {
        color: white;
    }


    .suport-close-button{
        position: fixed;
        top: 20px;
        right: 30px;
        color: white;
    }



    /* ATENDIMENTO RODAPÉ RESPONSIVO */

    .attendance-responsive-footer.open + nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(24, 23, 23, 0.8);
        z-index: 2;
    }

    .attendance-responsive-footer.open + nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .attendance-responsive-footer.open + nav li a {
        color: white;
    }

    .attendance-responsive-footer.open + nav li p {
        color: white;
        font-size: 25px;
        font-family: Muli;
        font-weight: bold;
        line-height: 35px;
    }


    .attendance-close-button{
        position: fixed;
        top: 20px;
        right: 30px;
        color: white;
    }

 }

 @media(max-width: 600px) {
    .responsive-header{
        max-width: 100%;
    }

    .cards-container {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .card{
        padding: 15px;
    }

    .banner-img-container{
        min-width: 100%;
    }   

    .form-container{
        min-width: 80%;
        margin: auto;
    }

    .data-form{
        width: 100%;
        margin: 0;
    }

    .form-input {
        width: 95%;   
        margin: 0;
        margin-bottom: 20px; 
    }

    footer{
        min-width: 100%;
    }

 }

 @media(max-width: 450px){
    body {
        min-width: 100%;
      }

     footer{
         min-width: 100%;
     }
 }

 @media(max-width: 350px) {
     html, body{
         min-width: 350px;
     }

     header{
        min-width: 350px;
     }

     .image-container img{
        min-width: 350px;
    }


     .data-form{
         padding: 5px;
         margin: 0;
     }
     .label-container{
         max-width: 100%;
     }

     .form-input{
        min-width: 40%;
    }

     .formBtn{
       min-width: 250px;
       min-height: 43px;
       padding: 5px;
     }

     .videos-container{
         width: 100%;
         padding: 20px;
         margin: 0;
     }

     .glider-slide{
         max-width: 150px;
     }
 }